ol li {
    background-color: yellow;
}
ol li:nth-child(even) {
    color: green;
}
ol li:nth-child(odd) {
    text-transform: uppercase;
}
h1, h3 {
    color:red;
}
h1, h3 .em {
    font-size: 40px;
    border: 1px;
    border-style: solid;
    border-color: black;
}
ol li, ul li {
    font-size: 20px;
}
ol li, ul li .em {
    font-weight: bold;
}
ul li.primeiras {
    color: blue;
}
ul li.java {
    background-color: pink;
}
ul li a:hover{
    font-weight: bold;
}
ul li:nth-child(1) a:hover {
    color: orange;
} 
ul li:nth-child(2) a:hover {
    color: green;
} 
ul li:nth-child(3) a:hover {
    color: black;
} 
ul li:nth-child(4) a:hover {
    color: yellow;
} 
ul li:nth-child(5) a:hover {
    color: greenyellow;
} 