body {
  background-color: darkseagreen;
}
.Header {
  background-color: gray;
  text-align: center;
  padding: 1%;
  border: 1px black inset;
  color: lightgreen
}

.Content {
  text-align: center;
  list-style: none;
  padding: 2%;
}

.Footer {
  background-color: gray;
  text-align: center;
  padding: 1%;
  border: 1px black inset;
  color: lightgreen;
}